doctype html
html(lang="en")
    head
        title= 'Swarm Money Transfer Service'
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r' crossorigin='anonymous')
    body

        include includes/payments-success
        .container-fluid
            header
                .row
                    div(class="panel panel-primary")
                        div(class="panel-heading")
                            p Money Transfer
                        div(class="panel-body")
                            form(class="form-horizontal" id="form")
                                div(class="form-group")
                                    label(for="firstName",class="col-sm-1 control-label") Firstname
                                    div(class="col-sm-10")
                                        input(type="text", class="form-control", placeholder="Firstname", id="firstName", name="firstName")
                                div(class="form-group")
                                    label(for="lastName",class="col-sm-1 control-label") Lastname
                                    div(class="col-sm-10")
                                        input(type="text", class="form-control", placeholder="LastName", id="lastName", name="lastName")
                                div(class="form-group")
                                    label(for="phone", class="col-sm-1 control-label") Phone
                                    div(class="col-sm-10")
                                        input(type="text", class="form-control", placeholder="Phone number", id="phone", name="phone")
                                div(class="form-group")
                                    label(for="totalAmount", class="col-sm-1 control-label") Amount
                                    div(class="col-sm-10")
                                        input(type="text", class="form-control", min="100" placeholder="Amount", id="totalAmount", name="totalAmount")
                                div(class="form-group")
                                    input(type="hidden", class="form-control", id="feeDeductedAmount", value="450", name="feeDeductedAmount")
                                div(class="form-group")
                                    label(for="senderLocationId", class="col-sm-1 control-label") Sender
                                    div(class="col-sm-10")
                                        input(type="text", class="form-control", placeholder="Sender location address", id="senderLocationId", name="senderLocationId")
                                div(class="form-group")
                                    label(for="receiverLocationId", class="col-sm-1 control-label") Receiver
                                    div(class="col-sm-10")
                                        input(type="text", class="form-control", placeholder="Receiver location address", id="receiverLocationId", name="receiverLocationId")
                                div(class="form-group")
                                    div(class="col-sm-offset-1 col-sm-10")
                                        button(class="btn btn-default", id="btn-1" type="submit") Send payment
                                        button(class="btn btn-default", id="btn-2" type="submit") Send payment1

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='http://jqueryvalidation.org/files/dist/jquery.validate.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
        script(src='js/send-payments.js')