div(class="modal fade", id="myModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")

                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
                h4(class="modal-title", id="myModalLabel") Transfer money
            div(class="modal-body")
                p(id="info-msg")
                p(id="tracking-number") Tracking identification is:
            div(class="modal-footer")
                button(type="button" class="btn btn-default" data-dismiss="modal") Close
